{% extends 'core/base.html' %}
{% block title %}{{ pagina.nome_do_site }}{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row align-items-center">

        <div class="col-md-6">
            <img src="{{ pagina.imagem_sobre.url }}" class="img-fluid rounded shadow"
                 alt="Sobre {{ pagina.nome_do_site }}">
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">{{ pagina.titulo_sobre }}</h2>
            <p>{{ pagina.descricao_sobre }}</p>
        </div>

    </div>

</div>

<hr class="my-5">

<div class="container">

    <h3 class="mb-4">Nossos Instrumentos</h3>

    <div class="row">

        {% for p in produtos %}
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="border-radius: 12px;">

                <img src="{{ p.foto.url }}" class="card-img-top"
                     style="height: 240px; object-fit: cover; border-radius: 12px 12px 0 0;">

                <div class="card-body">
                    <h5>{{ p.nome }}</h5>
                    <p class="text-muted">R$ {{ p.preco }}</p>

                    <a href="{% url 'comprar' p.id %}" class="btn btn-primary w-100">
                        Comprar
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
