{% extends "core/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'core/style.css' %}">

<section class="produtos-page">
    <h1>Todos os Produtos</h1>

    <div class="produtos-container">
        {% for produto in produtos %}
        <div class="card-produto">
            <img src="{{ produto.foto.url }}" alt="{{ produto.nome }}">

            <h3>{{ produto.nome }}</h3>

            <p class="preco">R$ {{ produto.preco }}</p>

            <a href="{% url 'pedido' produto.id %}" class="btn-comprar">
                Comprar
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
